Schemas/schema25.xml

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 rel. 3 sp1 (http://www.altova.com) by Daniel Clemence (ASC X12) -->
<xsd:schema xmlns="http://www.irs.gov/efile" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.irs.gov/efile" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.06">
	<xsd:include schemaLocation="../../RICommon/RIeFileTypes.xsd"/>
	<xsd:element name="SchG_1120c" type="SchG_1120cType"/>
	<xsd:complexType name="SchG_1120cType">
		<xsd:sequence>
			<!-- Business location in RI  -->
			<xsd:element name="LocRI" type="USAddressType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Business location in RI</Description>
						<LineNumber/>
						<FormNumber>Form1120C</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Location of corporation's books  -->
			<xsd:element name="BusLoc" type="RIBusLocType">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Location of corporation's books</Description>
						<LineNumber/>
						<FormNumber>Form1120C</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- List of states liable for income tax  -->
			<xsd:element name="ListState" type="StateType" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						<Description>List of states liable for income tax</Description>
						<LineNumber/>
						<FormNumber>Form1120C</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- US Business code  -->
			<xsd:element name="USBusCode" type="BusinessActivityCodeType">
				<xsd:annotation>
					<xsd:documentation>
						<Description>US Business code</Description>
						<LineNumber/>
						<FormNumber>Form1120C</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- state of incorporation  UPDATE TO ALLOW COUNTRY CODES-->
			<xsd:element name="StateInc">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:choice minOccurs="0">
							<xsd:element name="StateType" type="StateType"/>
							<xsd:element name="CountryType" type="CountryType"/>
							<xsd:element name="AllCountriesType" type="AllCountriesType"/>
						</xsd:choice>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<!-- Date of incorporation  -->
			<xsd:element name="IncDate" type="DateType">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Date of incorporation</Description>
						<LineNumber/>
						<FormNumber>Form1120C-1120S-1065</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- President  -->
			<xsd:element name="President" type="RIString35Type" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>President</Description>
						<LineNumber/>
						<FormNumber>Form1120C-1120S-1065</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Treasurer  -->
			<xsd:element name="Treasurer" type="RIString35Type" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Treasurer</Description>
						<LineNumber/>
						<FormNumber>Form1120C-1120S-1065</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Salaries and Wages Paid in RI  -->
			<xsd:element name="SalWagePdRI" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Salaries and Wages Paid in RI</Description>
						<LineNumber>2a</LineNumber>
						<FormNumber>Form1120C-1120S-1065</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Salaries and Wages Paid Everywhere  -->
			<xsd:element name="SalWagePdEvry" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Salaries and Wages Paid Everywhere</Description>
						<LineNumber>2b</LineNumber>
						<FormNumber>Form1120C-1120S-1065</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Total RI average net book value of assets  -->
			<xsd:element name="RIBookValue" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total RI average net book value of assets</Description>
						<LineNumber>3a</LineNumber>
						<FormNumber>Form1120C-1120S-1065</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Total everywhere average net book value of assets  -->
			<xsd:element name="EveryBookValue" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total everywhere average net book value of assets</Description>
						<LineNumber>3b</LineNumber>
						<FormNumber>Form1120C-1120S-1065</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
