Schemas/schema35.xml

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2014 (x64) (http://www.altova.com) by Daniel Clemence (RI Division of Information Technology) -->
<xsd:schema xmlns="http://www.irs.gov/efile" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.irs.gov/efile" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xsd:include schemaLocation="RIForms/Form1120S.xsd"/>
	<xsd:include schemaLocation="RIForms/SchQ_Sub.xsd"/>
	<xsd:include schemaLocation="RIForms/Form2441.xsd"/>
	<xsd:include schemaLocation="RIForms/SchK1.xsd"/>
	<xsd:include schemaLocation="RIForms/Form2874.xsd"/>
	<xsd:include schemaLocation="RIForms/Form2949.xsd"/>
	<xsd:include schemaLocation="RIForms/Form6324.xsd"/>
	<xsd:include schemaLocation="RIForms/Form3468.xsd"/>
	<xsd:include schemaLocation="RIForms/Form2220.xsd"/>
	<xsd:include schemaLocation="RIForms/SchCRPT.xsd"/>
	<xsd:element name="Form1120S" type="Form1120SType"/>
	<xsd:element name="ReturnDataState" type="ReturnData1120SType"/>
	<xsd:complexType name="ReturnData1120SType">
		<xsd:annotation>
			<xsd:documentation>Content model for the Rhode Island long form 1120S</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="Form1120S"/>
			<xsd:element ref="SchQ_Sub" minOccurs="0"/>
			<xsd:element name="SchK1" type="SchK1Type" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="Form2441" minOccurs="0"/>
			<xsd:element ref="Form2874" minOccurs="0"/>
			<xsd:element ref="Form2949" minOccurs="0"/>
			<xsd:element ref="Form6324" minOccurs="0"/>
			<xsd:element ref="Form2220" minOccurs="0"/>
			<xsd:element ref="SchCRPT" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
