Schemas/schema08.xml

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2016 (x64) (http://www.altova.com) by Altova XML Spy 2016 Professional Edition (RI Division Of Information Technology) -->
<xsd:schema xmlns="http://www.irs.gov/efile" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.irs.gov/efile" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.06">
	<xsd:include schemaLocation="../../RICommon/RIeFileTypes.xsd"/>
	<xsd:include schemaLocation="SchCRPT.xsd"/>
	<xsd:include schemaLocation="SchF.xsd"/>
	<xsd:include schemaLocation="SchG.xsd"/>
	<xsd:include schemaLocation="SchI.xsd"/>
	<xsd:include schemaLocation="SchJ.xsd"/>
	<xsd:include schemaLocation="SchI_1065.xsd"/>
	<!--  <xsd:include schemaLocation="SchK1.xsd"/> -->
	<xsd:complexType name="Form1065Type">
		<xsd:sequence>
			<xsd:element name="TelephoneNumber" type="PhoneNumberType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Telephone Number</Description>
						<LineNumber>Above Line 1</LineNumber>
						<FormNumber>Form1065</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="InitialReturn" type="CheckboxType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Initial Return Checkbox</Description>
						<LineNumber>Above Line 1</LineNumber>
						<FormNumber>Form1065</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="AmendedReturn" type="CheckboxType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Amended Return Checkbox</Description>
						<LineNumber>Above Line 1</LineNumber>
						<FormNumber>Form1065</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ProForma" type="CheckboxType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>ProForma Return Checkbox</Description>
						<LineNumber>Above Line 1</LineNumber>
						<FormNumber>Form1065</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="FinalReturn" type="CheckboxType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Final Return Checkbox</Description>
						<LineNumber>Above Line 1</LineNumber>
						<FormNumber>Form1065</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ShortYear" type="CheckboxType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Short Year Checkbox</Description>
						<LineNumber>Above Line 1</LineNumber>
						<FormNumber>Form1065</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="AddressChange" type="CheckboxType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Address Change Checkbox</Description>
						<LineNumber>Above Line 1</LineNumber>
						<FormNumber>Form1065</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="LLCType" type="CheckboxType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>LLC Type Checkbox</Description>
						<LineNumber>Above Line 1</LineNumber>
						<FormNumber>Form1065</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="LLPType" type="CheckboxType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>LLP Type Checkbox</Description>
						<LineNumber>Above Line 1</LineNumber>
						<FormNumber>Form1065</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="LPType" type="CheckboxType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>LP Type Checkbox</Description>
						<LineNumber>Above Line 1</LineNumber>
						<FormNumber>Form1065</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="PartnershipType" type="CheckboxType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Partnership Type Checkbox</Description>
						<LineNumber>Above Line 1</LineNumber>
						<FormNumber>Form1065</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SMLLC" type="CheckboxType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>SMLLC</Description>
						<LineNumber>Above Line 1</LineNumber>
						<FormNumber>Form1065</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Gross Receipts -->
			<xsd:element name="GrossRec" type="USAmountType">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Gross Receipts</Description>
						<LineNumber>Box A</LineNumber>
						<FormNumber>Form1065</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Depreciable Assets -->
			<xsd:element name="DepAssets" type="USAmountType">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Depreciable Assets</Description>
						<LineNumber>Box B</LineNumber>
						<FormNumber>Form1065</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Total Assets -->
			<xsd:element name="TotalAssets" type="USAmountType">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total Assets</Description>
						<LineNumber>Box C</LineNumber>
						<FormNumber>Form1065</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Secretary of State Id number -->
			<xsd:element name="SoSId" type="EINType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Secretary of State Id number</Description>
						<LineNumber>Box D</LineNumber>
						<FormNumber>Form1065</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SchA" type="SchA1065Type" minOccurs="0"/>
			<xsd:element name="SchB" type="SchB1065Type" minOccurs="0"/>
			<xsd:element name="SchC" type="SchC1065Type" minOccurs="0"/>
			<xsd:element name="SchE" type="SchE1065Type" minOccurs="0"/>
			<xsd:element name="SchF" type="SchFType" minOccurs="0"/>
			<xsd:element name="SchG" type="SchGType" minOccurs="0"/>
			<xsd:element name="SchH" type="SchIType" minOccurs="0"/>
			<xsd:element name="SchI_1065" type="SchI_1065Type" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SchA1065Type">
		<xsd:sequence>
			<!-- Federal Taxable Income -->
			<xsd:element name="FedTaxableInc" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Federal Taxable Income</Description>
						<LineNumber>Line 1</LineNumber>
						<FormNumber>Form1065</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Total Deductions -->
			<xsd:element name="TotalDeductions" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total Deductions</Description>
						<LineNumber>Line 2</LineNumber>
						<FormNumber>Form1065</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Total Additions -->
			<xsd:element name="TotalAdditions" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total Additions</Description>
						<LineNumber>Line 3</LineNumber>
						<FormNumber>Form1065</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Adjusted Taxable Income-->
			<xsd:element name="AdjTaxableInc" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Adjusted Taxable Income</Description>
						<LineNumber>Line 4</LineNumber>
						<FormNumber>Form1065</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- RI Apportionment Ratio -->
			<xsd:element name="RIApportionmentRatio" type="RICorpRatioType">
				<xsd:annotation>
					<xsd:documentation>
						<Description>RI Apportionment Ratio</Description>
						<LineNumber>Line 5</LineNumber>
						<FormNumber>Form1065</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Apportioned RI Taxable Income-->
			<xsd:element name="ApportionedRITaxInc" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Apportioned RI Taxable Income</Description>
						<LineNumber>Line 6</LineNumber>
						<FormNumber>Form1065</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Rhode Island Annual Fee -->
			<xsd:element name="RIAnnFeeAmt" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Rhode Island Annual Fee</Description>
						<LineNumber>Line 7a</LineNumber>
						<FormNumber>Form1065</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Jobs Growth Check Box -->
			<xsd:element name="JobsGrowthChkBx" type="CheckboxType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Jobs Growth Check Box</Description>
						<LineNumber>Line 7b</LineNumber>
						<FormNumber>Form1065</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Jobs Growth Tax -->
			<xsd:element name="JobsGrowthTax" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Jobs Growth Tax </Description>
						<LineNumber>Line 7b</LineNumber>
						<FormNumber>Form1065</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Tax Amount Min $450 -->
			<xsd:element name="TaxAmt" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Tax Amount Min $450 </Description>
						<LineNumber>Line 8</LineNumber>
						<FormNumber>Form1065</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Payments made on current year estimated tax -->
			<xsd:element name="EstTaxPmt" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Payments made on current year estimated tax </Description>
						<LineNumber>Line 9a</LineNumber>
						<FormNumber>Form1065</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Other Payments -->
			<xsd:element name="OtherPmt" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Other Payments</Description>
						<LineNumber>Line 9b</LineNumber>
						<FormNumber>Form1065</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Total Payments -->
			<xsd:element name="TotalPmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total Payments</Description>
						<LineNumber>Line 10</LineNumber>
						<FormNumber>Form1065</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Net Tax Due -->
			<xsd:element name="NetTaxDue" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Net Tax Due </Description>
						<LineNumber>Line 11</LineNumber>
						<FormNumber>Form1065</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Interest -->
			<xsd:element name="Interest" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Interest </Description>
						<LineNumber>Line 12a</LineNumber>
						<FormNumber>Form1065</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Penalty -->
			<xsd:element name="Penalty" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Penalty </Description>
						<LineNumber>Line 12b</LineNumber>
						<FormNumber>Form1065</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Form 2220 Interest -->
			<xsd:element name="Form2220Int" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Form 2220 Interest</Description>
						<LineNumber>Line 12c</LineNumber>
						<FormNumber>Form1065</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Tax Due with Return -->
			<xsd:element name="TaxDueWithRtn" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Tax Due with Return</Description>
						<LineNumber>Line 13</LineNumber>
						<FormNumber>Form1065</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Overpayment -->
			<xsd:element name="Overpayment" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Overpayment</Description>
						<LineNumber>Line 14</LineNumber>
						<FormNumber>Form1065</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Overpayment credited to next year -->
			<xsd:element name="OverpmtNextYear" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Overpayment credited to next year</Description>
						<LineNumber>Line 15</LineNumber>
						<FormNumber>Form1065</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Refund -->
			<xsd:element name="Refund" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Refund</Description>
						<LineNumber>Line 16</LineNumber>
						<FormNumber>Form1065</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Contact Preparer Check Box Yes-->
			<xsd:element name="ContactPreparerChkBxYes" type="CheckboxType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Contact Preparer Check Box Yes</Description>
						<LineNumber>After Line 17</LineNumber>
						<FormNumber>Form1065</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SchB1065Type">
		<xsd:sequence>
			<!-- Exempt Interest -->
			<xsd:element name="ExemptInt" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Exempt Interest</Description>
						<LineNumber>Line 1A</LineNumber>
						<FormNumber>Form1065</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Bonus Depreciation Adjustment-->
			<xsd:element name="BonusDepAdj" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Bonus Depreciation Adjustment</Description>
						<LineNumber>Line 1B</LineNumber>
						<FormNumber>Form1065</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Modification for Tax Incentives for Employees-->
			<xsd:element name="ModIncentEmpl" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Modification for Tax Incentives for Employees</Description>
						<LineNumber>Line 1C</LineNumber>
						<FormNumber>Form1065</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Modification for Pass Thru Entity Tax Claimed-->
			<xsd:element name="PassThruEntityTaxClaimed" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>PassThroughEntityTaxClaimed</Description>
						<LineNumber>Line 1D</LineNumber>
						<FormNumber>Form1065</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SchC1065Type">
		<xsd:sequence>
			<!-- Additions to Federal Taxable Income -->
			<!-- Interest -->
			<xsd:element name="Interest" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Interest</Description>
						<LineNumber>Line 1A</LineNumber>
						<FormNumber>Form1065</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Bonus Depreciation and Section 179 -->
			<xsd:element name="BonusDep179" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Bonus Depreciation and Section 179</Description>
						<LineNumber>Line 1B</LineNumber>
						<FormNumber>Form1065</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Intangible Addback-->
			<xsd:element name="IntAddback" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Intangible Addback</Description>
						<LineNumber>Line 1C</LineNumber>
						<FormNumber>Form1065</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Pass thru Entity Tax Elected to Be Paid -->
			<xsd:element name="PassThroughTaxElectedToBePaid" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Pass Through Entity Tax Elected To Be Paid</Description>
						<LineNumber>Line 1D</LineNumber>
						<FormNumber>Form1065</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Paycheck Protection Program -->
			<xsd:element name="PaycheckProtectionProgram" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Paycheck Protection Program Loan Amount</Description>
						<LineNumber>Line 1E</LineNumber>
						<FormNumber>Form1065</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SchD1065Type">
		<xsd:sequence>
			<!-- RI Credits-->
			<!-- RI - 2276 Contributions to Qualified Scholarship Organization-->
			<xsd:element name="RI2276" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>RI - 2276 Contributions to Qualified Scholarship Organization</Description>
						<LineNumber>Line A</LineNumber>
						<FormNumber>Form1065</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- RI - 286B Historic Preservation Investment -->
			<xsd:element name="RI286B" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>RI - 286B Historic Preservation Investment </Description>
						<LineNumber>Line B</LineNumber>
						<FormNumber>Form1065</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- RI - 8201 Motion Picture Production Company-->
			<xsd:element name="RI8201" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>RI - 8201 Motion Picture Production Company</Description>
						<LineNumber>Line C</LineNumber>
						<FormNumber>Form1065</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Total Credits-->
			<xsd:element name="TotalCredits" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total Credits</Description>
						<LineNumber>Line D</LineNumber>
						<FormNumber>Form1065</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SchE1065Type">
		<xsd:sequence>
			<!-- Other Deductions to Federal Income -->
			<!-- Elective Deduction for Research and Development -->
			<xsd:element name="ElectDedRD" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Elective Deduction for Research and Developmen</Description>
						<LineNumber>Line 1</LineNumber>
						<FormNumber>Form1065</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Qualifying Investment Certified Venture Capital -->
			<xsd:element name="QualifyingInvestCVC" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Qualifying Investment Certified Venture Capital</Description>
						<LineNumber>Line 2</LineNumber>
						<FormNumber>Form1065</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SchJ1065Type">
		<xsd:sequence>
			<!-- Inventory  -->
			<xsd:element name="Inventory" type="RIApporClmnType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Inventory</Description>
						<LineNumber>Line 1A</LineNumber>
						<FormNumber>Form1065</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Depreciable assets -->
			<xsd:element name="DepAssets" type="RIApporClmnType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Depreciable assets</Description>
						<LineNumber>Line 1B</LineNumber>
						<FormNumber>Form1065</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Land  -->
			<xsd:element name="Land" type="RIApporClmnType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Land</Description>
						<LineNumber>Line 1C</LineNumber>
						<FormNumber>Form1065</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Rent -->
			<xsd:element name="Rent" type="RIApporClmnType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Rent</Description>
						<LineNumber>Line 1D</LineNumber>
						<FormNumber>Form1065</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Average Total -->
			<xsd:element name="AvgTotal" type="RIApporClmnType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Average Total</Description>
						<LineNumber>Line 1E</LineNumber>
						<FormNumber>Form1065</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Average RI Ratio -->
			<xsd:element name="AvgRIRatio" type="RICorpRatioType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Average RI Ratio</Description>
						<LineNumber>Line 1F</LineNumber>
						<FormNumber>Form1065</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Gross Receipts RI Sales  -->
			<xsd:element name="GrossRecRISales" type="RIApporClmnType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Gross Receipts RI Sales</Description>
						<LineNumber>Line 2A</LineNumber>
						<FormNumber>Form1065</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Gross Receipts Sales under 44-11-14 -->
			<xsd:element name="GrossRecSales" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Gross Receipts Sales under 44-11-14</Description>
						<LineNumber>Line 2A</LineNumber>
						<FormNumber>Form1065</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Dividends  -->
			<xsd:element name="Dividends" type="RIApporClmnType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Dividends</Description>
						<LineNumber>Line 2B</LineNumber>
						<FormNumber>Form1065</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Interest -->
			<xsd:element name="Interest" type="RIApporClmnType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Interest</Description>
						<LineNumber>Line 2C</LineNumber>
						<FormNumber>Form1065</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Receipts Rent -->
			<xsd:element name="RecRent" type="RIApporClmnType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Receipts Rent</Description>
						<LineNumber>Line 2D</LineNumber>
						<FormNumber>Form1065</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Royalties -->
			<xsd:element name="Royalties" type="RIApporClmnType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Royalties</Description>
						<LineNumber>Line 2E</LineNumber>
						<FormNumber>Form1065</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Net Capital Gains  -->
			<xsd:element name="NetCapGains" type="RIApporClmnType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Net Capital Gains</Description>
						<LineNumber>Line 2F</LineNumber>
						<FormNumber>Form1065</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Ordinary Income -->
			<xsd:element name="OrdinaryInc" type="RIApporClmnType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Ordinary Income</Description>
						<LineNumber>Line 2G</LineNumber>
						<FormNumber>Form1065</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Other Income -->
			<xsd:element name="OtherInc" type="RIApporClmnType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Other Income</Description>
						<LineNumber>Line 2H</LineNumber>
						<FormNumber>Form1065</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Income exempt from Federal -->
			<xsd:element name="IncExmptFed" type="RIApporClmnType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Income exempt from Federal</Description>
						<LineNumber>Line 2I</LineNumber>
						<FormNumber>Form1065</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Receipts Total -->
			<xsd:element name="RecTotal" type="RIApporClmnType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Receipts Total</Description>
						<LineNumber>Line 2J</LineNumber>
						<FormNumber>Form1065</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Receipts RI Ratio -->
			<xsd:element name="RecRIRatio" type="RICorpRatioType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Receipts RI Ratio</Description>
						<LineNumber>Line 2K</LineNumber>
						<FormNumber>Form1065</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Salaries and Wages -->
			<xsd:element name="SalWages" type="RIApporClmnType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Salaries and Wages</Description>
						<LineNumber>Line 3A</LineNumber>
						<FormNumber>Form1065</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Salaries RI Ratio -->
			<xsd:element name="SalRIRatio" type="RICorpRatioType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Salaries RI Ratio</Description>
						<LineNumber>Line 3B</LineNumber>
						<FormNumber>Form1065</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Total of RI Ratio -->
			<xsd:element name="TotalRIRatio" type="RICorpTotalRatioType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total of RI Ratio</Description>
						<LineNumber>Line 4</LineNumber>
						<FormNumber>Form1065</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Apportionment RI Ratio -->
			<xsd:element name="ApporRIRatio" type="RICorpRatioType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Apportionment RI Ratio</Description>
						<LineNumber>Line 5</LineNumber>
						<FormNumber>Form1065</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SchSType">
		<xsd:sequence>
			<!-- Excess Net Passive Taxable Income -->
			<xsd:element name="ExcessNetIncome" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Excess Net Passive Taxable Income</Description>
						<LineNumber>Line 1</LineNumber>
						<FormNumber>Form1065</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Taxable Income from Federal 1120S -->
			<xsd:element name="TaxIncFed1120S" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Taxable Income from Federal 1120S</Description>
						<LineNumber>Line 2</LineNumber>
						<FormNumber>Form1065</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Apportionment RI Ratio -->
			<xsd:element name="ApporRIRatio" type="RICorpRatioType">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Apportionment Ratio</Description>
						<LineNumber>Line 4</LineNumber>
						<FormNumber>Form1065</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Tax -->
			<xsd:element name="Tax1120S" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Taxable Income from RI 1120S</Description>
						<LineNumber>Line 8</LineNumber>
						<FormNumber>Form1065</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
