Schemas/schema21.xml

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2009 (http://www.altova.com) by ASC X12 (ASC X12) -->
<xsd:schema xmlns="http://www.irs.gov/efile" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.irs.gov/efile" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.06">
	<xsd:include schemaLocation="../../RICommon/RIeFileTypes.xsd"/>
	<xsd:element name="SchCGM" type="SchCGMType"/>
	<xsd:complexType name="SchCGMType">
		<xsd:sequence>
			<!-- Federal Consolidated Election check box -->
			<xsd:element name="FederalConsolidatedElectionCheckbox" type="CheckboxType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description> Federal Consolidated Election Checkbox </Description>
						<LineNumber>Above Line 1</LineNumber>
						<FormNumber>SchCGM</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Combined Group Member Listing Schedule  -->
			<xsd:element name="RISchCGMTbl" type="RISchCGMClmnType" minOccurs="0" maxOccurs="unbounded">  
				<xsd:annotation>
					<xsd:documentation>
						<Description>RI Combined Group Member Listing schedule </Description>
						<LineNumber>Table</LineNumber>
						<FormNumber>SchCGM</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Number of CGMs that are Part of this Filing -->
			<xsd:element name="NumberOfCGMs" type="IntegerNNType">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Number of CGMs that are part of this filing </Description>
						<LineNumber>Below Line 10</LineNumber>
						<FormNumber>SchCGM</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
