Schemas/schema27.xml

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 rel. 3 sp1 (http://www.altova.com) by Daniel Clemence (ASC X12) -->
<xsd:schema xmlns="http://www.irs.gov/efile" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.irs.gov/efile" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.06">
	<xsd:include schemaLocation="../../RICommon/RIeFileTypes.xsd"/>
	<xsd:element name="SchI" type="SchIType"/>
	<xsd:complexType name="SchIType">
		<xsd:sequence>
			<!-- Federal Taxable Income -->
			<!-- Current Year -->
			<xsd:element name="CurrentYr" type="USAmountType">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Current Year</Description>
						<LineNumber/>
						<FormNumber>Form1120C-1120S-1065</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- One Year Prior -->
			<xsd:element name="OneYrPrior" type="USAmountType">
				<xsd:annotation>
					<xsd:documentation>
						<Description>One Year Prior</Description>
						<LineNumber/>
						<FormNumber>Form1120C-1120S-1065</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Two Years Prior -->
			<xsd:element name="TwoYrPrior" type="USAmountType">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Two Years Prior</Description>
						<LineNumber/>
						<FormNumber>Form1120C-1120S-1065</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Three Years Prior -->
			<xsd:element name="ThreeYrPrior" type="USAmountType">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Three Years Prior</Description>
						<LineNumber/>
						<FormNumber>Form1120C-1120S-1065</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Four Years Prior -->
			<xsd:element name="FourYrPrior" type="USAmountType">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Four Years Prior</Description>
						<LineNumber/>
						<FormNumber>Form1120C-1120S-1065</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
