Schemas/schema24.xml

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2014 (x64) (http://www.altova.com) by Daniel Clemence (RI Division of Information Technology) -->
<xsd:schema xmlns="http://www.irs.gov/efile" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.irs.gov/efile" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.06">
	<xsd:include schemaLocation="../../RICommon/RIeFileTypes.xsd"/>
	<xsd:element name="SchG" type="SchGType"/>
	<xsd:complexType name="SchGType">
		<xsd:sequence>
			<!-- Business location in RI  -->
			<xsd:element name="LocRI" type="USAddressType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Business location in RI</Description>
						<LineNumber/>
						<FormNumber>Form1120C-1120S-1065</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Location of corporation's books  -->
			<xsd:element name="BusLoc" type="RIBusLocType">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Location of corporation's books</Description>
						<LineNumber/>
						<FormNumber>Form1120C-1120S-1065</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- List of states liable for income tax  -->
			<xsd:element name="ListState" type="StateType" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						<Description>List of states liable for income tax</Description>
						<LineNumber/>
						<FormNumber>Form1120C-1120S-1065</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- US Business code  -->
			<xsd:element name="USBusCode" type="BusinessActivityCodeType">
				<xsd:annotation>
					<xsd:documentation>
						<Description>US Business code</Description>
						<LineNumber/>
						<FormNumber>Form1120C-1120S-1065</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- state of incorporation  -->
			<xsd:element name="StateInc" type="StateType">
				<xsd:annotation>
					<xsd:documentation>
						<Description>state of incorporation</Description>
						<LineNumber/>
						<FormNumber>Form1120C-1120S-1065</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Date of incorporation  -->
			<xsd:element name="IncDate" type="DateType">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Date of incorporation</Description>
						<LineNumber/>
						<FormNumber>Form1120C-1120S-1065</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- President  -->
			<xsd:element name="President" type="RIString35Type" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>President</Description>
						<LineNumber/>
						<FormNumber>Form1120C-1120S-1065</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Treasurer  -->
			<xsd:element name="Treasurer" type="RIString35Type" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Treasurer</Description>
						<LineNumber/>
						<FormNumber>Form1120C-1120S-1065</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Salaries and Wages Paid in RI  -->
			<!-- Salaries and Wages Paid Everywhere  -->
			<!-- Total RI average net book value of assets  -->
			<!-- Total everywhere average net book value of assets  -->
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
