Schemas/schema33.xml

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2011 rel. 2 sp1 (http://www.altova.com) by Daniel Clemence (ASC X12) -->
<xsd:schema xmlns="http://www.irs.gov/efile" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.irs.gov/efile" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xsd:include schemaLocation="RIForms/Form1065.xsd"/>
	<xsd:include schemaLocation="RIForms/SchK1.xsd"/>
	<xsd:include schemaLocation="RIForms/Form2220.xsd"/>
	<xsd:include schemaLocation="RIForms/SchCRPT.xsd"/>
	<xsd:element name="ReturnDataState" type="ReturnData1065Type"/>
	<xsd:element name="Form1065" type="Form1065Type"/>
	<xsd:complexType name="ReturnData1065Type">
		<xsd:annotation>
			<xsd:documentation>Content model for the Rhode Island form 1065</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="Form1065"/>
			<xsd:element name="SchCR_PT" type="SchCRPTType" minOccurs="0"/>
			<xsd:element name="SchK1" type="SchK1Type" minOccurs="0" maxOccurs="30000"/>
			<xsd:element ref="Form2220" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
