Schemas/schema01.xml

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2007 rel. 3 sp1 (http://www.altova.com) by Terry Garber (SC Department of Revenue & Tax) -->
<xsd:schema xmlns="http://www.irs.gov/efile" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.irs.gov/efile" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:annotation>
		<xsd:documentation>
			<Description>Data for tax payments or refund deposits</Description>
			<TaxYear>2022</TaxYear>
			<ReleaseDate>July 12, 2022</ReleaseDate>
		</xsd:documentation>
	</xsd:annotation>
	<xsd:include schemaLocation="efileTypes.xsd"/>
	<xsd:include schemaLocation="StateeFileTypes.xsd"/>
	<!-- Root Element -->
	<xsd:element name="FinancialTransaction" type="FinancialTransactionType">
		<xsd:annotation>
			<xsd:documentation>Root element for Financial Transaction</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<!--Structure for Full Financial Transaction Schema-->
	<xsd:complexType name="FinancialTransactionType">
		<xsd:sequence>
			<xsd:choice minOccurs="0">
				<!-- Payment(s) -->
				<xsd:element name="StatePayment" maxOccurs="10000">
					<xsd:complexType>
						<xsd:complexContent>
							<xsd:extension base="ACHEntityDetailType">
								<xsd:choice>
									<xsd:element name="NotIATTransaction" type="CheckboxType"/>
									<xsd:element name="IsIATTransaction">
										<xsd:complexType>
											<xsd:simpleContent>
												<xsd:extension base="CheckboxType">
													<xsd:attribute name="receivingDFIName" type="String50Type"/>
												</xsd:extension>
											</xsd:simpleContent>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name="FullIAT" type="FullIATType"/>
								</xsd:choice>
							</xsd:extension>
						</xsd:complexContent>
					</xsd:complexType>
				</xsd:element>
			</xsd:choice>
			<!-- Refund(s) -->
			<!--				<xsd:element name="RefundDirectDeposit" maxOccurs="3">
					<xsd:complexType>
						<xsd:complexContent>
							<xsd:extension base="StateDirectDepositType">
								<xsd:choice>
									<xsd:element name="NotIATTransaction" type="CheckboxType"/>
									<xsd:element name="IsIATTransaction">
										<xsd:complexType>
											<xsd:simpleContent>
												<xsd:extension base="CheckboxType">
													<xsd:attribute name="receivingDFIName" type="String50Type"/>
												</xsd:extension>
											</xsd:simpleContent>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name="FullIAT" type="FullIATType"/>
								</xsd:choice>
							</xsd:extension>
						</xsd:complexContent>
					</xsd:complexType>
				</xsd:element>-->
			<!-- ACH Credit -->
			<!--	<xsd:element name="ACHCreditInfo">
					<xsd:complexType>
						<xsd:complexContent>
							<xsd:extension base="ACHCreditDetailType">
								<xsd:choice>
									<xsd:element name="NotIATTransaction" type="CheckboxType"/>
									<xsd:element name="IsIATTransaction">
										<xsd:complexType>
											<xsd:simpleContent>
												<xsd:extension base="CheckboxType">
													<xsd:attribute name="originatingDFIName" type="String50Type"/>
												</xsd:extension>
											</xsd:simpleContent>
										</xsd:complexType>
									</xsd:element>
								</xsd:choice>
							</xsd:extension>
						</xsd:complexContent>
					</xsd:complexType>
				</xsd:element>
			</xsd:choice>-->
			<!-- Deposit into 529 Tuition Trust Account(s) -->
			<!--xsd:element name="DepositTo529Account" type="StateDirectDeposit529Type" minOccurs="0" maxOccurs="3"/>-->
			<!-- Estimated Payment(s) -->
			<!-- xsd:element name="EstimatedPayments" minOccurs="0" maxOccurs="4">
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:extension base="ACHEntityDetailType">
							<xsd:choice>
								<xsd:element name="NotIATTransaction" type="CheckboxType"/>
								<xsd:element name="IsIATTransaction">
									<xsd:complexType>
										<xsd:simpleContent>
											<xsd:extension base="CheckboxType">
												<xsd:attribute name="receivingDFIName" type="String50Type"/>
											</xsd:extension>
										</xsd:simpleContent>
									</xsd:complexType>
								</xsd:element>
								<xsd:element name="FullIAT" type="FullIATType"/>
							</xsd:choice>
						</xsd:extension>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element> -->
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
