Schemas/schema23.xml

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 rel. 3 sp1 (http://www.altova.com) by Daniel Clemence (ASC X12) -->
<xsd:schema xmlns="http://www.irs.gov/efile" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.irs.gov/efile" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.06">
	<xsd:include schemaLocation="../../RICommon/RIeFileTypes.xsd"/>
	<xsd:element name="SchF" type="SchFType"/>
	<xsd:complexType name="SchFType">
		<xsd:sequence>
			<!-- Final Determination of Net Income by Federal Government -->
			<!-- Federal Government changed your taxable income prior year - Yes -->
			<xsd:element name="ChgIncYes" type="CheckboxType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Federal Government changed your taxable income prior year - Yes</Description>
						<LineNumber>Line Checkbox Yes</LineNumber>
						<FormNumber>Form1120C-1120S-1065</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Federal Government changed your taxable income prior year - No -->
			<xsd:element name="ChgIncNo" type="CheckboxType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Federal Government changed your taxable income prior year - No</Description>
						<LineNumber>Line Checkbox No</LineNumber>
						<FormNumber>Form1120C-1120S-1065</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
