Schemas/schema10.xml

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2016 (x64) (http://www.altova.com) by Altova XML Spy 2016 Professional Edition (RI Division Of Information Technology) -->
<xsd:schema xmlns="http://www.irs.gov/efile" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.irs.gov/efile" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.06">
	<xsd:include schemaLocation="../../RICommon/RIeFileTypes.xsd"/>
	<xsd:element name="Form1120F" type="Form1120FType"/>
	<xsd:complexType name="Form1120FType">
		<xsd:sequence>
			<!-- Corporation registered and regulated under Federal Investment Company Act of 1940 Yes -->
			<xsd:element name="FedInvCoActYes" type="CheckboxType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Corporation registered and regulated under Federal Investment Company Act of 1940 Yes</Description>
						<LineNumber>Line 1 Yes</LineNumber>
						<FormNumber>Form1120F</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Corporation registered and regulated under Federal Investment Company Act of 1940 No -->
			<xsd:element name="FedInvCoActNo" type="CheckboxType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Corporation registered and regulated under Federal Investment Company Act of 1940 No</Description>
						<LineNumber>Line 1 No</LineNumber>
						<FormNumber>Form1120F</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Registration Number with the Security and Exchange Commission -->
			<xsd:element name="RegNumberSEC" type="RIString20Type" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Registration Number with the Security and Exchange Commission</Description>
						<FormNumber>Form1120F</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Date of Registration with the Security and Exchange Commission -->
			<xsd:element name="DateRegSEC" type="DateType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Date of Registration with the Security and Exchange Commission</Description>
						<FormNumber>Form1120F</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Non-Captive Real Estate Investment Trust -->
			<!-- Real Estate Investment Trust under section 856 of revenue code Yes -->
			<xsd:element name="RealEstInvestTrustYes" type="CheckboxType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Real Estate Investment Trust under section 856 of revenue code Yes</Description>
						<LineNumber>Line 1 Yes</LineNumber>
						<FormNumber>Form1120F</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Real Estate Investment Trust under section 856 of revenue code No -->
			<xsd:element name="RealEstInvestTrustNo" type="CheckboxType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Real Estate Investment Trust under section 856 of revenue code No</Description>
						<LineNumber>Line 1 No</LineNumber>
						<FormNumber>Form1120F</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Company met requirments Yes -->
			<xsd:element name="MetReqYes" type="CheckboxType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Company met requirments Yes</Description>
						<LineNumber>Line 2 Yes</LineNumber>
						<FormNumber>Form1120F</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Company met requirments No -->
			<xsd:element name="MetReqNo" type="CheckboxType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Company met requirments No</Description>
						<LineNumber>Line 2 No</LineNumber>
						<FormNumber>Form1120F</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Does the company satisfy conditions Yes -->
			<xsd:element name="SatCondYes" type="CheckboxType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Does the company satisfy conditions Yes</Description>
						<LineNumber>Line 3 Yes</LineNumber>
						<FormNumber>Form1120F</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Does the company satisfy conditions No -->
			<xsd:element name="SatCondNo" type="CheckboxType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>v No</Description>
						<LineNumber>Line 3 No</LineNumber>
						<FormNumber>Form1120F</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Return filed with the IRS Yes -->
			<xsd:element name="FiledIRSYes" type="CheckboxType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Return filed with the IRS Yes</Description>
						<LineNumber>Line 4 Yes</LineNumber>
						<FormNumber>Form1120F</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Return filed with the IRS No -->
			<xsd:element name="FiledIRSNo" type="CheckboxType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>v No</Description>
						<LineNumber>Line 4 No</LineNumber>
						<FormNumber>Form1120F</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Computation for Corporation registered and regulated under Federal Investment Company Act of 1940 -->
			<!-- Total Income from Federal -->
			<xsd:element name="IncFed" type="USAmountType">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total Income from Federal</Description>
						<LineNumber>Line 1</LineNumber>
						<FormNumber>Form1120F</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Interest not included in Federal -->
			<xsd:element name="IntNotFed" type="USAmountType">
				<xsd:annotation>
					<xsd:documentation>
						<Description> Interest not included in Federal</Description>
						<LineNumber>Line 2</LineNumber>
						<FormNumber>Form1120F</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Interest on Obligations of the US or possessions-->
			<xsd:element name="IntOblig" type="USAmountType">
				<xsd:annotation>
					<xsd:documentation>
						<Description> Interest on Obligations of the US or possessions</Description>
						<LineNumber>Line 4</LineNumber>
						<FormNumber>Form1120F</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Interest Exempt from taxation by RI-->
			<xsd:element name="IntExmptRI" type="USAmountType">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Interest Exempt from taxation by RI</Description>
						<LineNumber>Line 5</LineNumber>
						<FormNumber>Form1120F</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Cap Gain Net Income from Federal-->
			<xsd:element name="CapGainFed" type="USAmountType">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Cap Gain Net Income from Federal</Description>
						<LineNumber>Line 6</LineNumber>
						<FormNumber>Form1120F</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Unused Cap Loss Carryover from Federal-->
			<xsd:element name="UnCapLossFed" type="USAmountType">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Unused Cap Loss Carryover from Federal</Description>
						<LineNumber>Line 7</LineNumber>
						<FormNumber>Form1120F</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Tax Due under Federal Investment Company Act (FICA)-->
			<xsd:element name="TaxDueFICA" type="USAmountType">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Tax Due under Federal Investment Company Act</Description>
						<LineNumber>Line 16</LineNumber>
						<FormNumber>Form1120F</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Non-Captive Real Estate Investment Trust -->
			<!-- Company engage in selling securities Yes -->
			<xsd:element name="SellSecYes" type="CheckboxType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Company engage in selling securities Yes</Description>
						<LineNumber>Line 1 Yes</LineNumber>
						<FormNumber>Form1120F</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Company engage in selling securities No -->
			<xsd:element name="SellSecNo" type="CheckboxType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>RCompany engage in selling securities No</Description>
						<LineNumber>Line 1 No</LineNumber>
						<FormNumber>Form1120F</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Gross receipts derived from activities Yes -->
			<xsd:element name="GrsRecActYes" type="CheckboxType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Gross receipts derived from activities Yes</Description>
						<LineNumber>Line 2 Yes</LineNumber>
						<FormNumber>Form1120F</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Gross receipts derived from activities No -->
			<xsd:element name="GrsRecActNo" type="CheckboxType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Gross receipts derived from activities No</Description>
						<LineNumber>Line 2 No</LineNumber>
						<FormNumber>Form1120F</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Capital Gain Net Income IC-->
			<xsd:element name="CapGainsIC" type="USAmountType">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Capital Gain Net Income IC</Description>
						<LineNumber>Line 4</LineNumber>
						<FormNumber>Form1120F</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Unused Cap Loss Carryover from Federal IC-->
			<xsd:element name="UnCapLossFedIC" type="USAmountType">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Unused Cap Loss Carryover from Federal IC</Description>
						<LineNumber>Line 5</LineNumber>
						<FormNumber>Form1120F</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Tax Due under Investment Companies(IC)-->
			<xsd:element name="TaxDueIC" type="USAmountType">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Tax Due under Investment Companies(IC)</Description>
						<LineNumber>Line 13</LineNumber>
						<FormNumber>Form1120F</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
