Schemas/schema09.xml

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2016 (x64) (http://www.altova.com) by Altova XML Spy 2016 Professional Edition (RI Division Of Information Technology) -->
<xsd:schema xmlns="http://www.irs.gov/efile" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.irs.gov/efile" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.06">
	<xsd:include schemaLocation="../../RICommon/RIeFileTypes.xsd"/>
	<xsd:include schemaLocation="../../Common/eFileTypes.xsd"/>
	<xsd:include schemaLocation="Form1120F.xsd"/>
	<xsd:include schemaLocation="SchF.xsd"/>
	<xsd:include schemaLocation="SchG_1120c.xsd"/>
	<xsd:include schemaLocation="SchH.xsd"/>
	<xsd:include schemaLocation="SchI.xsd"/>
	<xsd:include schemaLocation="SchJ.xsd"/>
	<xsd:element name="Form1120C" type="Form1120CType"/>
	<xsd:complexType name="Form1120CType">
		<xsd:sequence>
			<xsd:element name="TelephoneNumber" type="PhoneNumberType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Telephone Number</Description>
						<LineNumber>Above Line 1</LineNumber>
						<FormNumber>Form1120C</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="InitialReturn" type="CheckboxType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Initial Return Checkbox</Description>
						<LineNumber>Above Line 1</LineNumber>
						<FormNumber>Form1120C</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CombinedReturn" type="CheckboxType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Combined Return Checkbox</Description>
						<LineNumber>Above Line 1</LineNumber>
						<FormNumber>Form1120C</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="FinalReturn" type="CheckboxType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Final Return Checkbox</Description>
						<LineNumber>Above Line 1</LineNumber>
						<FormNumber>Form1120C</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ShortYear" type="CheckboxType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Short Year Checkbox</Description>
						<LineNumber>Above Line 1</LineNumber>
						<FormNumber>Form1120C</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ProForma" type="CheckboxType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Proforma Checkbox</Description>
						<LineNumber>Above Line 1</LineNumber>
						<FormNumber>Form1120C</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="AddressChange" type="CheckboxType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Address Change Checkbox</Description>
						<LineNumber>Above Line 1</LineNumber>
						<FormNumber>Form1120C</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="AmendedReturn" type="CheckboxType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Amended Return Checkbox</Description>
						<LineNumber>Above Line 1</LineNumber>
						<FormNumber>Form1120C</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Form1120FBox" type="CheckboxType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>1120 F Checkbox</Description>
						<LineNumber>Above Line 1</LineNumber>
						<FormNumber>Form1120C</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Total Number of Combined Returns -->
			<xsd:element name="TotalCRSCount" type="IntegerNNType"/>
			<!-- Gross Receipts -->
			<xsd:element name="GrossRec" type="USAmountType">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Gross Receipts</Description>
						<LineNumber>Box A</LineNumber>
						<FormNumber>Form1120C</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Depreciable Assets -->
			<xsd:element name="DepAssets" type="USAmountType">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Depreciable Assets</Description>
						<LineNumber>Box B</LineNumber>
						<FormNumber>Form1120C</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Section 965(a) Inclusion form Fed Form 1120 Sch C line 15 -->
			<xsd:element name="TotalAssets" type="USAmountType">
				<xsd:annotation>
					<xsd:documentation>
						<Description>TotalAssets</Description>
						<LineNumber>Box C</LineNumber>
						<FormNumber>Form1120C</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Secretary of State Id number -->
			<xsd:element name="SoSId" type="EINType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Secretary of State Id number</Description>
						<LineNumber>Box D</LineNumber>
						<FormNumber>Form1120C</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SchA" type="SchA1120CType" minOccurs="0"/>
			<xsd:element name="SchB" type="SchB1120CType" minOccurs="0"/>
			<xsd:element name="SchC" type="SchC1120CType" minOccurs="0"/>
			<xsd:element name="SchD" type="SchD1120CType" minOccurs="0"/>
			<xsd:element name="SchE" type="SchG_1120cType" minOccurs="0"/>
			<xsd:element name="SchF" type="SchF1120CType" minOccurs="0"/>
			<xsd:element name="SchG" type="SchIType" minOccurs="0"/>
			<xsd:element name="SchH" type="SchJType" minOccurs="0"/>
			<xsd:element name="Form1120F" type="Form1120FType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SchA1120CType">
		<xsd:sequence>
			<!-- Federal Taxable Income -->
			<xsd:element name="FedTaxableInc" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Federal Taxable Income</Description>
						<LineNumber>Line 1</LineNumber>
						<FormNumber>Form1120C</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Total Deductions -->
			<xsd:element name="TotalDeductions" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total Deductions</Description>
						<LineNumber>Line 2</LineNumber>
						<FormNumber>Form1120C</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Total Additions -->
			<xsd:element name="TotalAdditions" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total Additions</Description>
						<LineNumber>Line 3</LineNumber>
						<FormNumber>Form1120C</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Adjusted Taxable Income-->
			<xsd:element name="AdjTaxableInc" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Adjusted Taxable Income</Description>
						<LineNumber>Line 4</LineNumber>
						<FormNumber>Form1120C</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- RI Apportionment Ratio -->
			<xsd:element name="RIApportionmentRatio" type="RICorpRatioType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>RI Apportionment Ratio</Description>
						<LineNumber>Line 5</LineNumber>
						<FormNumber>Form1120C</FormNumber>
						<ELFFieldNumber/>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Apportioned RI Taxable Income-->
			<xsd:element name="ApportionedRITaxInc" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Apportioned RI Taxable Income</Description>
						<LineNumber>Line 6</LineNumber>
						<FormNumber>Form1120C</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Research and Development Adjustments-->
			<xsd:element name="RandDAdjust" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Research and Development Adjustments</Description>
						<LineNumber>Line 7</LineNumber>
						<FormNumber>Form1120C</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Pollution control and hazardous waste adjustment-->
			<xsd:element name="PollutionControlAdjust" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Pollution control and hazardous waste adjustment</Description>
						<LineNumber>Line 8a</LineNumber>
						<FormNumber>Form1120C</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Capital investment deduction-->
			<xsd:element name="CapitalInvestDed" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Capital investment deduction</Description>
						<LineNumber>Line 8b</LineNumber>
						<FormNumber>Form1120C</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Total Adjustment-->
			<xsd:element name="TotalAdj" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total Adjustment</Description>
						<LineNumber>Line 9</LineNumber>
						<FormNumber>Form1120C</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Rhode Island adjusted taxale income-->
			<xsd:element name="RIAdjTaxableInc" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Rhode Island adjusted taxale income</Description>
						<LineNumber>Line 10</LineNumber>
						<FormNumber>Form1120C</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Rhode Island income tax -->
			<xsd:element name="RIIncTax" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Rhode Island income tax</Description>
						<LineNumber>Line 11</LineNumber>
						<FormNumber>Form1120C</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Rhode Island Credits -->
			<xsd:element name="RICredits" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Rhode Island Credits </Description>
						<LineNumber>Line 12</LineNumber>
						<FormNumber>Form1120C</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Tax Amount Min $450 -->
			<xsd:element name="TaxAmt" type="USAmountType">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Tax Amount Min $450 </Description>
						<LineNumber>Line 13</LineNumber>
						<FormNumber>Form1120C</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Recapture of Credit -->
			<xsd:element name="RecCredit" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Recapture of Credit </Description>
						<LineNumber>Line 14a</LineNumber>
						<FormNumber>Form1120C</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Jobs Growth Check Box -->
			<xsd:element name="JobsGrowthChkBx" type="CheckboxType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Jobs Growth Check Box</Description>
						<LineNumber>Line 14b</LineNumber>
						<FormNumber>Form1120C</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Jobs Growth Tax -->
			<xsd:element name="JobsGrowthTax" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Jobs Growth Tax </Description>
						<LineNumber>Line 14b</LineNumber>
						<FormNumber>Form1120C</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Tax Due -->
			<xsd:element name="TaxDue" type="USAmountType">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Tax Due </Description>
						<LineNumber>Line 16</LineNumber>
						<FormNumber>Form1120C</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Payments made on current year estimated tax -->
			<xsd:element name="EstTaxPmt" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Payments made on current year estimated tax </Description>
						<LineNumber>Line 17</LineNumber>
						<FormNumber>Form1120C</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Other Payments -->
			<xsd:element name="OtherPmt" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Other Payments</Description>
						<LineNumber>Line 18a</LineNumber>
						<FormNumber>Form1120C</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- RI Pass-through Withholdings -->
			<xsd:element name="PassThroughWth" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>RI Pass-through Withholdings</Description>
						<LineNumber>Line 18b</LineNumber>
						<FormNumber>Form1120C</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Total Payments -->
			<xsd:element name="TotalPmt" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total Payments</Description>
						<LineNumber>Line 19a</LineNumber>
						<FormNumber>Form1120C</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Previously Issued refunds -->
			<xsd:element name="PrevRefund" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Previously Issued refunds</Description>
						<LineNumber>Line 19b</LineNumber>
						<FormNumber>Form1120C</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Net Tax Due -->
			<xsd:element name="NetTaxDue" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Net Tax Due </Description>
						<LineNumber>Line 20</LineNumber>
						<FormNumber>Form1120C</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Interest -->
			<xsd:element name="Interest" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Interest </Description>
						<LineNumber>Line 21a</LineNumber>
						<FormNumber>Form1120C</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Late Pay Penalty -->
			<xsd:element name="Penalty" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Penalty </Description>
						<LineNumber>Line 21b</LineNumber>
						<FormNumber>Form1120C</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Form 2220 Interest -->
			<xsd:element name="Form2220Int" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Form 2220 Interest</Description>
						<LineNumber>Line 21c</LineNumber>
						<FormNumber>Form1120C</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Late Filing Penalty -->
			<xsd:element name="LFPenalty" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description> Late Filing Penalty </Description>
						<LineNumber>Line 21d</LineNumber>
						<FormNumber>Form1120C</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Tax Due with Return -->
			<xsd:element name="TaxDueWithRtn" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Tax Due with Return</Description>
						<LineNumber>Line 22</LineNumber>
						<FormNumber>Form1120C</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Overpayment -->
			<xsd:element name="Overpayment" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Overpayment</Description>
						<LineNumber>Line 23</LineNumber>
						<FormNumber>Form1120C</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Overpayment credited to next year -->
			<xsd:element name="OverpmtNextYear" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Overpayment credited to next year</Description>
						<LineNumber>Line 24</LineNumber>
						<FormNumber>Form1120C</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Refund -->
			<xsd:element name="Refund" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Refund</Description>
						<LineNumber>Line 25</LineNumber>
						<FormNumber>Form1120C</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Contact Preparer Check Box Yes-->
			<xsd:element name="ContactPreparerChkBxYes" type="CheckboxType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Contact Preparer Check Box Yes</Description>
						<LineNumber>After Line 24</LineNumber>
						<FormNumber>Form1120C</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SchB1120CType">
		<xsd:sequence>
			<!-- Deduction to Federal Taxable Income -->
			<!-- Net operating loss deduction -->
			<xsd:element name="NetOpLossDed" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Net operating loss deduction</Description>
						<LineNumber>Line 1A</LineNumber>
						<FormNumber>Form1120C</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Special Deductions -->
			<xsd:element name="SpecialDeductions" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Special Deductions</Description>
						<LineNumber>Line 1B</LineNumber>
						<FormNumber>Form1120C</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Exempt dividends and interest -->
			<xsd:element name="ExemptDividInt" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Exempt dividends and interest</Description>
						<LineNumber>Line 1C</LineNumber>
						<FormNumber>Form1120C</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Foreign dividend gross-up-->
			<xsd:element name="ForeignDivGrossUp" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Foreign dividend Gross-up</Description>
						<LineNumber>Line 1D</LineNumber>
						<FormNumber>Form1120C</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Bonus Depreciation Adjustment-->
			<xsd:element name="BonusDepAdj" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Bonus Depreciation Adjustment</Description>
						<LineNumber>Line 1E</LineNumber>
						<FormNumber>Form1120C</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Mod for Tax Incentives-->
			<xsd:element name="ModTaxIncent" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Mod for Tax Incentives</Description>
						<LineNumber>Line 1F</LineNumber>
						<FormNumber>Form1120C</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SchC1120CType">
		<xsd:sequence>
			<!-- Additions to Federal Taxable Income -->
			<!-- Interest -->
			<xsd:element name="Interest" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Interest</Description>
						<LineNumber>Line 1A</LineNumber>
						<FormNumber>Form1120C</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- RI corporate taxes -->
			<xsd:element name="RICorpTaxes" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>RI corporate taxes</Description>
						<LineNumber>Line 1B</LineNumber>
						<FormNumber>Form1120C</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Bonus Depreciation and Section 179 -->
			<xsd:element name="BonusDep179" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Bonus Depreciation and Section 179</Description>
						<LineNumber>Line 1C</LineNumber>
						<FormNumber>Form1120C</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!--Taxable Portion of Paycheck Protection Program -->
			<xsd:element name="PaycheckProtectionProgram" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>TaxablePortionOfPaycheckProtectionProgram</Description>
						<LineNumber>Line 1D</LineNumber>
						<FormNumber>Form1120C</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Domestic production
			<xsd:element name="IntentionallyLeftBlank" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Intentionally Left Blank</Description>
						<LineNumber>Line 1D</LineNumber>
						<FormNumber>Form1120C</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>-->
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SchD1120CType">
		<xsd:sequence>
			<xsd:element name="RISchDTbl" type="RISchDClmnType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SchF1120CType">
		<xsd:sequence>
			<!-- Exempt Dividends and Interest -->
			<xsd:element name="DividendsRec" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Exempt Dividends and Interest</Description>
						<LineNumber>Line 1</LineNumber>
						<FormNumber>Form1120C-1120S</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Amount of Dividends in Special Deductions -->
			<xsd:element name="DividSpecDeduct" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Amount of Dividends in Special Deductions</Description>
						<LineNumber>Line 2</LineNumber>
						<FormNumber>Form1120C-1120S</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Balance of exempt dividends -->
			<xsd:element name="BalExemptDivid" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Balance of exempt dividends</Description>
						<LineNumber>Line 3</LineNumber>
						<FormNumber>Form1120C-1120S</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- More then 20 pct owned-->
			<xsd:element name="More20Pct" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>More then 20 pct owned</Description>
						<LineNumber>Line 4</LineNumber>
						<FormNumber>Form1120C-1120S</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Less then 20 pct owned -->
			<xsd:element name="Less20Pct" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Less then 20 pct owned</Description>
						<LineNumber>Line 5</LineNumber>
						<FormNumber>Form1120C-1120S</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- 100 pct owned-->
			<xsd:element name="Own100Pct" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>100 pct owned</Description>
						<LineNumber>Line 6</LineNumber>
						<FormNumber>Form1120C-1120S</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Interest on obligations of public service-->
			<xsd:element name="IntObligPubServ" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Interest on obligations of public service</Description>
						<LineNumber>Line 7</LineNumber>
						<FormNumber>Form1120C-1120S</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Interest on obligations -->
			<xsd:element name="IntOblig" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Interest on obligations</Description>
						<LineNumber>Line 8</LineNumber>
						<FormNumber>Form1120C-1120S</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Interest on obligations US possessions -->
			<xsd:element name="IntObligUS" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Interest on obligations US possessions</Description>
						<LineNumber>Line 9</LineNumber>
						<FormNumber>Form1120C-1120S</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
