Schemas/schema19.xml

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2016 (x64) (http://www.altova.com) by Altova XML Spy 2016 Professional Edition (RI Division Of Information Technology) -->
<xsd:schema xmlns="http://www.irs.gov/efile" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.irs.gov/efile" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.06">
	<xsd:include schemaLocation="../../RICommon/RIeFileTypes.xsd"/>
	<xsd:element name="Form9261" type="Form9261Type"/>
	<xsd:complexType name="Form9261Type">
		<xsd:sequence>
			<!-- Name of Eligible Company -->
			<xsd:element name="EligibleCorp" type="RIEligCorpSubType" minOccurs="0"/>
			<!-- Name of Eligible Subsidiary -->
			<xsd:element name="EligibleSub" type="RIEligCorpSubType" minOccurs="0"/>
			<!-- Adjusted Current Employment Date -->
			<xsd:element name="AdjCurrEmptDate" type="DateType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Adjusted Current Employment Date </Description>
						<LineNumber>Line 1</LineNumber>
						<FormNumber>Form1120C-1120S</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Adjusted Current Employment -->
			<xsd:element name="AdjCurrEmployment" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Adjusted Current Employment </Description>
						<LineNumber>Line 1</LineNumber>
						<FormNumber>Form1120C-1120S</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Measurement Ending Date -->
			<xsd:element name="MeasEndDate" type="DateType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Measurement Ending Date </Description>
						<LineNumber>Line 1</LineNumber>
						<FormNumber>Form1120C-1120S</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Measurement Ending -->
			<xsd:element name="MeasEnd" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Measurement Ending </Description>
						<LineNumber>Line 2</LineNumber>
						<FormNumber>Form1120C-1120S</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Small Business Concerns -->
			<xsd:element name="SmallBusCon" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Small Business Concerns</Description>
						<LineNumber>Line 4a</LineNumber>
						<FormNumber>Form1120C-1120S</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- All Others -->
			<xsd:element name="AllOthers" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>All Others</Description>
						<LineNumber>Line 4b</LineNumber>
						<FormNumber>Form1120C-1120S</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Rate Reduction -->
			<xsd:element name="RateReduction" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Rate Reduction</Description>
						<LineNumber>Line 5</LineNumber>
						<FormNumber>Form1120C-1120S</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Adjusted Income Tax Rate  -->
			<xsd:element name="AdjustedRate" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Adjusted Income Tax Rate</Description>
						<LineNumber>Line 6</LineNumber>
						<FormNumber>Form1120C-1120S</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- RI Adjusted Taxable Income  -->
			<xsd:element name="RIAdjustedTax" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Adjusted Income Tax Rate</Description>
						<LineNumber>Line 7</LineNumber>
						<FormNumber>Form1120C-1120S</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Rate Reductioin Tax Credit Amount  -->
			<xsd:element name="RateRedTax" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Rate Reductioin Tax Credit Amount</Description>
						<LineNumber>Line 10</LineNumber>
						<FormNumber>Form1120C-1120S</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
