Schemas/schema26.xml

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 rel. 3 sp1 (http://www.altova.com) by Daniel Clemence (ASC X12) -->
<xsd:schema xmlns="http://www.irs.gov/efile" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.irs.gov/efile" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.06">
	<xsd:include schemaLocation="../../RICommon/RIeFileTypes.xsd"/>
	<xsd:element name="SchH" type="SchHType"/>
	<xsd:complexType name="SchHType">
		<xsd:sequence>
			<!-- Number of shares  -->
			<xsd:element name="NumShares" type="IntegerNNType">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Number of shares</Description>
						<LineNumber>Line 1</LineNumber>
						<FormNumber>Form1120C-1120S</FormNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!--Par Value  -->
			<xsd:element name="ParValue" type="USDecimalAmountType">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Par Value</Description>
						<LineNumber>Line 2</LineNumber>
						<FormNumber>Form1120C-1120S</FormNumber>>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!--Franchise Tax  -->
			<xsd:element name="FranTax" type="USDecimalAmountType">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Franchise Tax not less then $500</Description>
						<LineNumber>Line 7</LineNumber>
						<FormNumber>Form1120C-1120S</FormNumber>>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
